body{
margin: 0;
background: url(ba.jpg);
background-size: cover;

}
.lobox{

 width: 320px;
 height: 420px;
 background-color:  #2f3640;
 color: #000;
 top: 50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%, -50%);
 box-sizing: border-box;
 padding: 60px 20px;

}

.user{

width: 100px;
height: 100px;
position: absolute;
top: -50px;
left: calc(50% - 50px);



}

h1{

margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
color: #0097e6;

}

p{
margin: 0;
padding: 8px;
font-weight: bold;
color: #f5f6fa;

}

input{

width: 90%;
margin-bottom: 20px;

}
input[type="text"], input[type="password"]
{
border: none;
border-bottom: 2px solid #f5cd79;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
transition: all 3s;

}
input[type="text"]:hover{

    border-bottom: 4px solid #3dc1d3;




}

input[type="submit"]
{

border: none;
outline: none;
height: 40px;
background: #fb2525;
color: #fff;
font-size: 18px;
border-radius: 20px; 

}
input[type="submit"]:hover
{
background: darkorange;
color: #000;

}

a{

text-decoration: none;
font-size: 14px;
color: azure;

}
a:hover{

color: gold;


}


.git{


    width: 60px;
    height: 60px;
    position: absolute;
    top: 560px;
    left: calc(50% - 50px);
    border-radius: 100px; 
}
